.PageBorder{ 
    border-top: 3px solid rgba(255, 255, 255, 0.085);
    width: 100%;

    
}


.Container{
    font-size: 35px;
    color: aliceblue;
    min-height: 100vh;
    width: 100%;

}


.BackgroundClip{
    text-align: center;
    
    background-image: linear-gradient(
        to right, 
        #3f5efb92,
        #ff348c,
        #3f5efb92
        );
        background-size: 200%;
        animation: background-pan 3s linear infinite;
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
    
}


@keyframes background-pan{
    from{
        background-position: 200% center;
    }

    to {
        background-position: 0% center;
    }
}

.SkillBox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 20px;
    font-family: 'Nova Square', cursive;
    padding: 65px;
}

img{
    width: 100px;
    height: 100px;
}

.SkillBox > div{
    padding: 15px;

}

.SkillBox > div > img{
    display: block;
    margin: 0 auto;

}

.SkillBox > div > h1{
    text-align: center;
}

#Linux{
    height: 120px;
}