@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');
body{
    background-color: black;
    font-family: 'Nova Square', cursive;
    overflow-x: hidden !important;
}

::-webkit-scrollbar{
    width: 10px;
    background-color: rgb(36, 36, 36);
}

::-webkit-scrollbar-thumb{
    width: 8px;
    background-color: burlywood;
}